<a href="https://colab.research.google.com/github/Dhivyaindhu/ELEVATE_TASK_7/blob/main/ELEVATE_LABS_task_7_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
conn = sqlite3.connect("sales_data.db")
cur = conn.cursor()
cur.execute('''
    CREATE TABLE IF NOT EXISTS sales (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        product_name TEXT,
        quantity_sold INTEGER,
        unit_price REAL
    )
''')
sample_data = [
    ("Pen", 120, 5.0),
    ("Notebook", 80, 20.0),
    ("Pencil", 150, 2.0),
    ("Eraser", 100, 1.5),
    ("Marker", 60, 10.0)
]

cur.executemany("INSERT INTO sales (product_name, quantity_sold, unit_price) VALUES (?, ?, ?)", sample_data)

conn.commit()
conn.close()